<div class="row" style="margin: -18px;">
  <div class="col-sm-9 col-xs-12 app_group_main">
    <%= render "app_groups/fund/welcome" %>
    <%= render "app_groups/fund/chart" %>
  </div>
  <div class="col-sm-3 col-xs-12 app_group_side">
    <%= render "app_groups/member/members" %>
  </div>
</div>
