<div class="dashboard_welcome_user">
  <span>Hi, <strong><%= Account.find(@account.id).first_name %></strong></span>
  <span>Here's your activity today, take a moment to have a look at this</span>
</div>
