<div class="dashboard_overview_index">
  <div class="dashboard_overview_top">
    <%= render "dashboard/app/overview/mrr" %>
    <%= render "dashboard/charts/bar" %>
  </div>
  <span class="divider"></span>
  <div class="dashboard_overview_bottom">
    <%= render "dashboard/app/overview/user" %>
    <%= render "dashboard/app/overview/trial" %>
  </div>
</div>
