<div class="mrr_accounting">
  <span>Accounting</span>
  <span><%= Dashboard.dates.last_month %> - <%= Dashboard.dates.today %></span>
  <span>AVG Monthly Income</span>
  <span>$<%= @today_mrr %></span>
</div>
