<div class="overview_trial">
  <span class="material-icons icon_trial">savings</span>
  <span>
    <strong>$<%= @today_trial %></strong>
    <em>Potential revenue from trial users</em>
  </span>
</div>
