

<p>
  <strong>App:</strong>
  <%= @daily_mrr.app_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @daily_mrr.level %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @daily_mrr.amount %>
</p>

<%= link_to "Back", daily_mrrs_path %>
