<div class="account_block">
  <div class="account_block_title">
    <span>Tasks</span>
    <div>
      <span class="material-icons" style="cursor: pointer;">add</span>
      <span class="material-icons">upcoming</span>
    </div>
  </div>
  <div class="account_block_content task_content_block">
  </div>
</div>
<%= render "accounts/tasks/js" %>
<script>
  load_tasks()
</script>
