// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.plain_navs {
    text-decoration: none;
    color          : #333333;
    font-weight    : 500;
}

.card {
    background   : rgba(255, 255, 255, 0.3);
    box-shadow   : 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    border-radius: 10px !important;
    border       : 1px solid rgba(255, 255, 255, 0.18);
}

.dashboard_main_section {
    border-right: 1px solid #C0C0C0;
    padding-top : 18px;
}

.dashboard_welcome_user {
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    margin-bottom  : 20px;

    span {
        &:first-of-type {
            font-size  : 22px;
            font-weight: 500p;

            strong {
                font-weight: 700;
            }
        }

        &:last-of-type {
            margin-top: 10px;
        }
    }
}

.dashboard_overview_index {
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    border-radius  : 10px;
    border         : 1px solid #C0C0C0;
    padding        : 20px 40px;

    .dashboard_overview_top {
        width          : 100%;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;

        .mrr_accounting {
            display        : flex;
            flex-direction : column;
            align-items    : flex-start;
            justify-content: flex-start;

            span {
                &:first-of-type {
                    font-size    : 40px;
                    font-weight  : 600;
                    margin-bottom: 10px;
                }

                &:nth-child(2) {
                    margin-bottom: 30px;
                }

                &:nth-child(3) {
                    margin-bottom: 10px;
                }

                &:last-of-type {
                    font-size  : 40px;
                    font-weight: 700;
                }
            }
        }
    }


    .dashboard_overview_bottom {
        width                : 100%;
        display              : grid;
        grid-template-columns: 1fr 1fr;

        .overview_user,
        .overview_trial {
            display        : flex;
            align-items    : center;
            justify-content: center;

            .icon_user {
                border: 2px solid #78d37d;
                color : #27d321;
            }

            .icon_trial {
                border: 2px solid #6d85d3;
                color : #1f48ce;
            }

            span {
                &:first-of-type {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    width          : 40px;
                    height         : 40px;
                    border-radius  : 100%;
                    margin-right   : 10px;
                }

                &:last-of-type {
                    display        : flex;
                    align-items    : flex-start;
                    justify-content: flex-start;
                    flex-direction : column;

                    strong {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

.user_tasks {
    margin : 0px !important;
    padding: 0px !important;

    .user_tasks_margin {
        width        : 100%;
        margin       : 10px 5px 10px 0px;
        padding      : 30px !important;
        border-radius: 10px;
        border       : 1px solid #C0C0C0;
        display      : table;

        .user_tasks_title {
            font-size    : 18px;
            color        : #1b2330;
            font-weight  : 1000;
            margin-bottom: 10px;
        }

        [class*="col-"] {
            padding: 5px !important;
        }

        .completion_rate_section {
            display              : grid;
            grid-template-columns: 2fr 1fr;
            margin-top           : 10px;

            .completion_rate_title {
                color      : #1b2330;
                font-weight: 600;
            }

            .completion_rate {
                span {
                    &:first-of-type {
                        font-size    : 30px;
                        color        : #232d3f;
                        font-weight  : 1000;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.user_apps {
    margin : 0px !important;
    padding: 0px !important;

    .user_app_margin {
        padding      : 30px !important;
        border-radius: 10px;
        border       : 1px solid #C0C0C0;
        margin       : 10px 0px 10px 5px;

        .apps_section_top {
            display        : flex;
            align-items    : flex-start;
            justify-content: space-between;
            margin-bottom  : 20px;

            span {
                display        : flex;
                align-items    : center;
                justify-content: center;
                font-size      : 20px;
                font-weight    : 1000;
            }

            a {
                display        : flex;
                align-items    : center;
                justify-content: center;
                color          : #4C979D;
                font-weight    : 600;
            }
        }

        .app_section_data {
            display              : grid;
            grid-template-columns: 1fr 1fr;

            .mrr_data {
                margin-top: 15px;

                .mrr_data_tab {
                    display        : flex;
                    align-items    : center;
                    justify-content: flex-start;

                    &:first-of-type {
                        .material-icons {
                            color           : #2153DB;
                            background-color: #2153db41;
                            border          : 3px solid #4f74da;
                        }
                    }

                    &:nth-child(2) {
                        .material-icons {
                            color           : #2EB3BD;
                            background-color: #2eb3bd3f;
                            border          : 3px solid #6eb7bd;
                        }
                    }

                    &:last-of-type {
                        .material-icons {
                            color           : #FC9212;
                            background-color: #fc93123f;
                            border          : 3px solid #fabf77;
                        }
                    }

                    .material-icons {
                        display        : flex;
                        align-items    : center;
                        justify-content: center;
                        border-radius  : 100%;
                        width          : 30px;
                        height         : 30px;
                        font-size      : 16px;
                        margin-right   : 10px;
                    }

                    .mrr_details {
                        display        : flex;
                        flex-direction : column;
                        align-items    : flex-start;
                        justify-content: flex-start;

                        span {
                            &:first-of-type {
                                font-size  : 20px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dashboard_side_bar {
    margin : 0px !important;
    padding: 0px !important;

    a {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
    }

    .my_todos {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        align-items    : flex-start;
        justify-content: center;
        padding        : 10px;
        border-bottom  : 1px solid #C0C0C0;

        .my_todos_title {
            font-size    : 20px;
            font-weight  : 700;
            width        : 100%;
            margin-bottom: 10px;
        }

        .to_do_block {
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: center;
            flex-direction : row;
            cursor         : pointer;
            padding        : 5px 0px 5px 0px;
            margin-bottom  : 5px;

            &:hover {
                transform    : scale(1.02);
                box-shadow   : 0 8px 32px 0 rgba(31, 38, 135, 0.2);
                padding      : 5px;
                border-radius: 7px;
            }

            span {

                &:nth-child(2) {
                    flex-grow: 4;
                    padding  : 5px;
                }

                &:last-of-type {
                    width     : 50px;
                    text-align: center;
                }
            }
        }
    }

    .my_requests {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        align-items    : flex-start;
        justify-content: center;
        padding        : 10px;
        border-bottom  : 1px solid #C0C0C0;

        .my_requests_title {
            font-size    : 20px;
            font-weight  : 700;
            width        : 100%;
            margin-bottom: 10px;
        }

        .request_block {
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: flex-start;
            flex-direction : row;
            cursor         : pointer;
            padding        : 5px 0px 5px 0px;
            margin-bottom  : 5px;

            &:hover {
                transform    : scale(1.02);
                box-shadow   : 0 8px 32px 0 rgba(31, 38, 135, 0.2);
                padding      : 5px;
                border-radius: 7px;
            }

            span {

                &:nth-child(2) {
                    flex-grow: 4;
                    padding  : 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .dashboard_overview_top {
        width          : 100% !important;
        display        : flex !important;
        flex-direction : column !important;
        align-items    : flex-start !important;
        justify-content: flex-start !important;

        .mrr_accounting {
            width          : 100% !important;
            align-items    : flex-start;
            justify-content: flex-start;
        }

        .morrischart {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 1068px) {

    .user_tasks,
    .user_apps,
    .user_tasks_margin,
    .user_app_margin {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1068px) {

    html,
    body {
        width: 100% !important;
    }
}

@media only screen and (max-width: 573px) {

    html,
    body {
        width: 100% !important;
    }

    .dashboard_overview_bottom {
        display        : flex !important;
        flex-direction : column !important;
        align-items    : center !important;
        justify-content: center !important;

        .overview_user,
        .overview_trial {
            width          : 100% !important;
            align-items    : flex-start !important;
            justify-content: flex-start !important;
            margin-bottom  : 10px;
        }
    }
}